* {
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(to top right, #24233b, #464466);
}

.tdline {
    vertical-align: bottom;
    text-align: center;
}

#joyr {
    background: #efad0f;
    padding: 70px 18px;
    margin: auto 7px;
}

#sadr {
    background: #244e9d;
    padding: 180px 18px;
    margin: auto 7px;
}

#angerr {
    background: #a71a0a;
    padding: 500px 18px;
    margin: auto 7px;
}

#disgustr {
    background: #409b2d;
    padding: 250px 18px;
    margin: auto 7px;
}

#fearr {
    background: #6c379b;
    padding: 50px 18px;
    margin: auto 7px;
}

#anxietyr {
    background: #d6580a;
    padding: 5px 18px;
    margin: auto 7px;
}

#envyr {
    background: #10a091;
    padding: 300px 18px;
    margin: auto 7px;
}

#embarrassmentr {
    background: #dc429d;
    padding: 1px 18px;
    margin: auto 7px;
}

#ennuir {
    background: #4d46ba;
    padding: 280px 18px;
    margin: auto 7px;
}

table{
    margin-left: auto;
    margin-right: auto;
}

#oner {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 10px;
    position: relative;
}

img {
    border: 0;
    padding: 0;
}   

hr {
    margin: 10px 680px;
    color: white;
}

div {
    border: white solid 1px;
    margin: auto 670px;
    height: 500px;
    position: relative;
    bottom: 560px;
}

footer {
    height: 60px;
}

p {
    text-align: center;
    color: white;
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    margin: 3px;
}

#awe {
    font-size: 15px !important;
}

#message {
    margin-top: 10px !important;
}

#facebook {
    color: white;
    text-decoration: none;
    background-color: #141421;
    border-radius: 10px;
}